





                <!--Modal for share with team-->
                <ng-template  #sharewithteam let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h3 class="text-center">Photo Management</h3>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                      <div class="col-md-8">
                        <img [src]=fullUrl class="fullImage">
                      </div>
                      <div class="col-md-4">
                        <form role="form" [formGroup]="photoform">
                       <!--Heading-->
                       <div><h4>Enter Metadata Details</h4>
                         <!--Inputfied for name and email-->
                          <div class="form-item">
                           <input type="text" placeholder="Title" formControlName="title"/>
                           <!--<span *ngIf="!userform.get('name').valid && userform.get('name').touched"
                                    class="help-block"> Please enter user name</span>-->
                           </div>
                           <div class="form-item">
                           <input type="text" placeholder="Description" class="mang-mail" formControlName="description"/>
                           <!--<span *ngIf="!userform.get('mail').valid && userform.get('mail').touched"
                                    class="help-block"> Please provide vaild email address (Example: johnson@gmail.com)</span>-->
                           </div>
                           <div class="form-item">
                           <input type="text" placeholder="Tags" class="mang-mail" formControlName="tags"/>
                           <!--<span *ngIf="!userform.get('mail').valid && userform.get('mail').touched"
                                    class="help-block"> Please provide vaild email address (Example: johnson@gmail.com)</span>-->
                           </div>


                       </div>
                       <!--Dropdown for user type and group-->
                       <label>Copyrights</label>
                         <div class="form-dropdown">
                           <select  #copyrights class="form-type" formControlName="copyrights" >
                             <option value='cc' selected>cc</option>
                             <option value='All rights reserved'>All rights reserved</option>
                           </select>

                         </div>
                         <label>Price</label>
                         <div class="row">

                         <div class="col-md-4 form-item">
                           <input type="text" placeholder="INR"  class="price-inr" formControlName="inr"/>

                         </div>
                         <div class="col-md-2 form-item">
                           <input type="text" placeholder="USD"  class="price-usd" formControlName="usd"/>
                         </div>
                       </div>
                       <div class="add-user"><button (click)="addData()" class="btn btn-sm btn-success"><span>Save</span></button></div>

                     </form>
                        <ngb-alert *ngIf="alertSucuessful" (close)="closeAlert()" class="align-alert">Metadata Added Successfully</ngb-alert>
                      </div>
                    </div>
                    </div>
                </ng-template>
